<ion-view view-title="About">
  <ion-content class="margin-padding">
    <div align="center">
      <h1>About WiTTS</h1>
      </br>
      <div class="margin-padding" align="justify">
        WiTTS, the Wireless Temperature Tracking System is an open source project
        created by Jason Choi in fulfillment of a Masters degree
        in Software Engineering at the University of California State Fullerton.
        It is a mobile application dedicated to medical professionals that aims
        to facilitate the day-to-day task of measuring and tracking patient temperature.
        WiTTS utilizes an NFC-enabled, battery-less temperature sensor to automate a
        large part of the procedure, saving time and reducing human error. </br></br></br>

        <div align="center">
          Copyright 2016© Jason Choi
        </div>
        Republication or redistribution of WiTTS software content is strictly prohibited without the prior written consent of the author.
      </div>
    </div>
  </ion-content>
</ion-view>
