<ion-view view-title="About">
  <ion-content class="padding">
    <div align="center">
      <h3>About WiTTS </br></h3>
      <div class="margin-border" align="justify">
        WiTTS, the Wireless Temperature Tracking System is an open source project
        created by Jason Choi in fulfillment of a Masters degree
        in Software Engineering at the University of California State Fullerton.
        It is a mobile application dedicated to medical professionals that aims
        to facilitate the day-to-day task of measuring and tracking patient temperature.
        WiTTS utilizes an NFC-enabled, battery-less temperature sensor to automate a
        large part of the procedure, saving time and reducing human error. </br></br></br>

        Copyright 2016© Jason Choi</br>
        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version. </br></br>

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details. </br></br>

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see
        <a href="http://www.gnu.org/licenses/" rel="external">
          http://www.gnu.org/licenses/
        </a>. </br></br>

        The WiTTS Mobile Application and Temperature Sensor Software are available
        on GitHub: </br></br>

        <a href="https://github.com/esseun/witts_ionic" rel="external">
          WiTTS Androiid Mobile Application
        </a> </br>
        <a href="https://github.com/esseun/witts_msp430fr5969" rel="external">
          WiTTS Temperature Sensor Software
        </a> </br>
      </div>
    </div>
  </ion-content>
</ion-view>
