<ion-view view-title="WiTTS: Wireless Temperature Tracking System" hide-back-button="true">
  <ion-content class="padding has-header"> <br/>
    <div class="bar bar-subheader">
      <div class="card" align="center">
        <h3>Please login to continue</h3>
      </div>
      <br/>
      <form ng-submit="login.signin()">
        <div class="list">
          <label class="item item-input">
            <input id="email" name="email" type="email" placeholder="email" ng-model="login.email">
          </label>
          <label class="item item-input">
            <input id="password" name="password" type="password" placeholder="password" ng-model="login.password">
          </label>
        </div>
        <div class="button-bar">
          <button class="button button-outline button-positive icon ion-log-in" type="submit">
            Login
          </button>
        </div>
      </form>
      <div class="card" align="center">
        <small>Need an account? Please contact WiTTS administrator @ &lt;esseun@gmail.com&gt</small>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div align="center">
        <small>Copyright 2016© Jason Choi</small>
      </div>
    </div>
  </ion-content>
</ion-view>
