<ion-view view-title="Measure & Record Temperature">
  <ion-content class="padding">
    <div ng-if="!tagData.tag.id">
      <div class="card">
        <div class="item item-text-wrap center" style="font-size:150%" align="center">
          Scan the WiTTS temperature sensor to begin.
        </div>
      </div>
    </div>
    <div ng-if="tagData.tag.id">
      <div class="card">
        <div class="item item-text-wrap">
          <div class="item item-divider" style="font-size:150%" align="center">
            Patient Information <br/>
          </div>
          <div class="item item-text-wrap">
            <dl>
              <dd>Name: {{ tagData.patientInfo[0].firstName }} {{ tagData.patientInfo[0].lastName }}</dd>
            </dl>
            <dl>
              <dd>DOB: {{ tagData.patientInfo[0].dob | date:'MMM dd, yyyy' }}</dd>
            </dl>
            <dl>
              <dd>Assigned to: {{ tagData.patientInfo[0].assignedTo }}</dd>
            </dl>
            <dl>
              <dd>Temperature last taken: {{ tagData.patientTempRecords[0].timeEntered | date:'yyyy-MM-dd @h:mma' }}</dd>
            </dl>
          </div>
          <div class="item item-divider" style="font-size:125%" align="center">
            Measured Temperature (Fahrenheit) <br/>
          </div>
          <div class="item item-text-wrap">
            <dl>
              <dd>{{ tagData.measuredTemp }}</dd>
            </dl>
          </div>
        </div>
      </div>
      </br>
      </br>
      <p>
        <div class="button-bar">
          <a class="button button-outline button-positive icon ion-record" ng-click="postTemp(tagData.patientId, tagData.measuredTemp)">   Record</a>
        </div>
      </p>
      </br>
      <p>
        <div class="button-bar">
          <a class="button button-outline button-positive icon ion-trash-b" ng-click="clear()">   Clear</a>
        </div>
      </p>
    </div>
  </ion-content>
</ion-view>
