<!-- Uses NfcCtrl -->
<ion-view view-title="View Patient Records">
  <ion-content class="padding">
    <div ng-if="!tagData.tag.id">
      <div class="card">
        <div class="item item-text-wrap center">
          Scan patient tag to begin.
        </div>
      </div>
    </div>
    <div ng-if="tagData.tag.id">
      <div class="item item-divider" style="font-size:150%">
        Temperature Records for: {{ tagData.patientInfo[0].firstName }} {{ tagData.patientInfo[0].lastName }} <br/>
      </div>
      <div class="card" ng-repeat="tempRecord in tagData.patientTempRecords">
        <div class="item item-text-wrap">
          <dl>
            <dd>{{ tempRecord.timeEntered }} : {{ tempRecord.tempFahrenheit }}F</dd>
          </dl>
        </div>
      </div>
    </div>
    <p>
      <div class="button-bar">
        <a class="button button-outline button-positive icon ion-android-refresh" ng-click="clear()"></a>
      </div>
    </p>
  </ion-content>
</ion-view>
