<ion-view view-title="View Patient Records">
  <ion-content class="padding">
    <div ng-if="!tagData.tag.id">
      <div class="card">
        <div class="item item-text-wrap center" style="font-size:150%" align="center">
          Scan the WiTTS temperature sensor to begin.
        </div>
      </div>
    </div>
    <div ng-if="tagData.tag.id">
      <div class="card">
        <div class="item item-text-wrap">
          <div class="item item-divider" style="font-size:150%" align="center">
            Temperature History (Fahrenheit)
          </div>
          <div class="item item-text-wrap" style="font-size:120%" align="center">
            <dd><b>{{ tagData.patientInfo[0].firstName }} {{ tagData.patientInfo[0].lastName }}</b></dd>
          </div>
          <div align="center">
            <dd><b>Temperature last taken:</b> {{ tagData.patientTempRecords[0].timeEntered | date:'yyyy-MM-dd @h:mma' }}</dd>
          </div>
        </div>
      </div>
      <div ui-view="tempchart"></div>
    </div>
    <br/>
    <p>
      <div class="button-bar">
        <a class="button button-outline button-positive icon ion-android-refresh" ng-click="clear()">   Clear</a>
      </div>
    </p>
</ion-content>
</ion-view>
