<!-- Uses NfcCtrl -->
<ion-view view-title="View Patient Records">
  <ion-content class="padding">
    <div ng-if="!tagData.tag.id">
      <div class="card">
        <div class="item item-text-wrap center">
          Scan patient tag to begin.
        </div>
      </div>
    </div>
    <div ng-if="tagData.tag.id">
      <div class="card">
        <div class="item item-text-wrap">
          <div class="item item-divider">
            Patient ID # <br/>
          </div>
          <div class="item item-text-wrap">
            <dl>
              <dd>{{ tagData.patientId }}</dd>
            </dl>
            <dl>
              <dd>{{ tagData.patientRecords.data }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <p>
      <div class="button-bar">
        <a class="button button-outline button-positive icon ion-android-refresh" ng-click="clear()"></a>
      </div>
    </p>
  </ion-content>
</ion-view>
