<!DOCTYPE html>
<html ng-app="witts_ionic">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/nfcfilters.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="NfcCtrl">

    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>


    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Help" icon="ion-help" ui-sref="tabs.help">
          <ion-nav-view name="help-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="WiTTS: A Wireless Temperature Tracking System">
        <ion-content class="padding">
          <br/>
          <p>
            <a class="button button-full button-large button-positive icon icon-left ion-thermometer" href="#/tab/measure"> Measure & Record Temperature</a>
          </p>
          <br/>
          <p>
            <a class="button button-full button-large button-positive icon icon-left ion-android-person" href="#/tab/view"> View Patient Records</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/measure.html" type="text/ng-template">
      <!-- Uses NfcCtrl -->
      <ion-view view-title="Measure & Record Temperature">
        <ion-content class="padding">
          <div ng-if="!tag.id">
            <div class="card">
              <div class="item item-text-wrap center">
                Scan the WiTTS temperature sensor to begin.
              </div>
            </div>
          </div>
          <div ng-if="tag.id">
            <div class="card">
              <div class="item item-text-wrap">
                <div class="card" ng-repeat="record in tag.ndefMessage">
                  <div class="item item-divider">
                    Sensor Reading <br/>
                  </div>
                  <div class="item item-text-wrap">
                    <dl>
                      <dd>{{ record | decodePayload }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p>
            <div class="button-bar">
              <a class="button button-outline button-positive icon ion-android-refresh" ng-click="clear()"></a>
              <a class="button button-outline button-positive icon ion-home" href="#/tab/home"></a>
            </div>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/view.html" type="text/ng-template">
      <!-- Uses NfcCtrl -->
      <ion-view view-title="View Patient Records">
        <ion-content class="padding">
          <div ng-if="!tag.id">
            <div class="card">
              <div class="item item-text-wrap center">
                Scan patient tag to begin.
              </div>
            </div>
          </div>
          <div ng-if="tag.id">
            <div class="card">
              <div class="item item-text-wrap">
                <div class="card" ng-repeat="record in tag.ndefMessage">
                  <div class="item item-divider">
                    Patient ID # <br/>
                  </div>
                  <div class="item item-text-wrap">
                    <dl>
                      <dd>{{ record | decodePayload }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- div ng-if="tag.id">
               Retrieve patient temperature data history and draw graph
          </div -->
          <p>
            <div class="button-bar">
              <a class="button button-outline button-positive icon ion-android-refresh" ng-click="clear()"></a>
              <a class="button button-outline button-positive icon ion-home" href="#/tab/home"></a>
            </div>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/about.html" type="text/ng-template">
      <ion-view view-title="About">
        <ion-content class="padding">
          <h3>About WiTTS</h3>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/help.html" type="text/ng-template">
      <ion-view title="Help">
        <ion-content>
          <h3>Documentation</h3>
        </ion-content>
      </ion-view>
    </script>

    </body>
</html>
