.button-icon-large,
.button-icon-large:before {
    font-size:28px;
}

.margin-border {
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
}
